@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color palette */
  --color-dark-blue: #0F2854;
  --color-blue: #4785BF;
  --color-light-blue: #BDE8F5;
  --color-black: #000000;
  --color-white: #FFFFFF;
  
  /* Semantic color variables */
  --background: var(--color-white);
  --foreground: var(--color-black);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: -0.07em;
}

a {
  color: inherit;
  text-decoration: none;
}

